<style>
    /* The alert message box */
    .alert {
        padding: 20px;
        background-color: #f44336; /* Rojo */
        color: white;
        margin-bottom: 15px;
    }

    .success {
        padding: 20px;
        background-color: #4CAF50; /* Verde */
        color: white;
        margin-bottom: 15px;
    }

    /* Para cerrar la alerta */
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    /* hacer 'x' color negro cuando pasa el cursor por encima */
    .closebtn:hover {
        color: black;
    }

    /* Para que la caja de consulta sea de temanio fijo */
    textarea {
        resize: none;
    }
</style>

<h1>Hi, Wellcome to Consulta mode</h1>

    <% if (ok) { %>
    <form action="/data_viz" method="post">
            <div class="success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= msg %>
            </div>
            <textarea id="consulta" rows="10" cols="50" autofocus placeholder="Here goes your query" name="consulta" disabled><%= text_box %></textarea>
            <br>
            <textarea id="consulta" rows="10" cols="50" autofocus placeholder="Here goes your query" name="resultado" readonly="true"><%= results %></textarea>
            <br>
            <button type="submit" disabled>Subir consulta</button>
            <button type="submit">Visualizar datos</button>
    </form>
    <% } else { %>
        <% if (msg.length) { %>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <%= msg %>
            </div>
        <% } %>
        <form action="/check_query" method="post">
            <textarea id="consulta" rows="10" cols="50" autofocus placeholder="Here goes your query" name="consulta" required><%= text_box %></textarea>
            <br>
            <button type="submit">Subir consulta</button>
            <button type="submit" disabled>Visualizar datos</button>
        </form>
    <% } %>
